<section>
  <h2>Join the Beta</h2>
  <p>Fill in the form below to request early access:</p>

  <script src="https://forms.yandex.ru/_static/embed.js"></script>
  <iframe 
    id="yandex-form-68892ab084227c05386d3635"
    src="https://forms.yandex.ru/u/68892ab084227c05386d3635?iframe=1" 
    frameborder="0" 
    name="ya-form-68892ab084227c05386d3635" 
    width="650"
    data-formid="68892ab084227c05386d3635"
    onload="window.yandexFormsDemo.initYandexIframe(this)"
  ></iframe>

  <p id="yandex-form-68892ab084227c05386d3635-fallback">
    If the form doesn't load,
    <a href="https://forms.yandex.com/u/68892ab084227c05386d3635/" target="_blank">click here</a> to open it.
  </p>
</section>
