html, body {
  height: 100%;
  margin: 0;
}

main.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}


iframe#yandex-form-68892ab084227c05386d3635 {
	background-color: transparent;
}